.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0.5px 0 0 #fff;
  background-color: #000;
}

.header-logo:hover {
  text-decoration: none;
}

.header-logo__img {
  height: 260px;
  width: 300px;
  object-fit: cover;
}

.header-links {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.header-search {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.header-title {
  color: #fff;
}

.header-back-link {
  position: absolute;
  top: 70px;
  left: 0;
  transition: fill 0.2s linear;
}

.header-back-link:hover svg path {
  fill: rgb(165, 161, 161);
  transition: fill 0.2s linear;
}
