* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.root {
  background-color: #000;
  min-height: 100%;
}

.screen-container {
  max-width: 1024px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  z-index: 1;
}
